<p>Los formularios Reactivos el mayor control de los datos es en el .ts</p>

<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">                              
        <form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="miFormulario" >

            <!-- Campo de Producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombreProducto"
                           placeholder="Nombre del producto">  
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombreProducto')">
                          Debe tener minimo 3 letras
                    </span>

                </div>
            </div>

            <!-- Campo de Precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="precio"
                           placeholder="Precio del producto">
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('precio')">
                           El precio debe ser 0 o mas
                     </span>
                </div>
            </div>

            <!-- Campo de Existencia -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <!-- customMin es mi directiva y [minimo] viene de alli -->
                    <input type="number"
                           class="form-control"
                           formControlName="existencias"
                           placeholder="Existencia del producto">
                    <span class="form-text text-danger"
                           *ngIf="campoNoValido('existencias')">
                            Las existencias deben ser 0 o mas
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            >  
                        Guardar
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{miFormulario.valid}} </pre>

        <span>Pristine - Significa que sus valores no se han tocado desde que se presento el formulario</span>
        <pre> {{miFormulario.pristine}} </pre>

        <span>Tocuhed - Si el usuario a tocado el formulario</span>
        <pre> {{miFormulario.touched}} </pre>

        <span>Value</span>
        <pre> {{miFormulario.value | json}} </pre>

    </div>
</div>